*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #efefef;
}

//Variables
@import './variables/colores';
@import './variables/botones';


//Importaciones
@import './grid/gridIndex';
@import './header-footer/header';
@import './header-footer/headerSec';
@import './article/article';
@import './header-footer/footer';