*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #efefef;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

ol, ul {
    padding-left: 0rem;
}

:root{
    --bs-body-line-height: none;
}

//Variables
@import './variables/colores';
@import './variables/botones';


//Importaciones
//Index
@import './grid/gridIndex';
@import './header-footer/header';
@import './header-footer/headerSec';
@import './secciones/article';
@import './header-footer/footer';

//Contacto
@import './grid/gridContacto';
@import './secciones/contacto';
@import './header-footer/headerContacto';

//Posventa
@import './grid/gridPosventa';
@import './header-footer/headerPosventa';
@import './secciones/posventa';