.headerSec{
    grid-area: headerSec;

    background-color: $naranja;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;
    font-size: 1.3rem;

    .bienvenidos{
        color: $azul;
        text-decoration: none;
    }

    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        li{
            list-style: none;

            a{
                text-decoration: none;
                padding: 25px 45px;
                transition: all ease 0.25s;
                color: $azul;

                &:hover{
                    background-color: $azul;
                    color: $naranja;
                }
            }
        }
    }
}